@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.bold {
  font-weight: 700;
}
.gray {
  color: #918E9B;
}
nav{
  height: 70px;
  display: flex;
  align-items: center;
  padding: 20px 15px;
  box-shadow: 0 2.98px 7.46px rgba(0, 0, 0, 0.1);
}
.main--logo{
  max-width: 100px;
}
section {
  padding: 20px;
}
.hero {
  display: flex;
  flex-direction: column;
}
.hero--img {
  max-width: 400px;
  align-self: center;
}
.hero--header {
  margin-top: 16px;
}
.hero--text {
  margin-top: 0;
}
.card--list{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
.card {
  width: 175px;
  font-size: 13px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card--img{
  width: 100%;
  height: 245px;
  margin-bottom: 10px;
}
.card--star{
  height: 14px;
}
.card-title{
  overflow: hidden;
  text-overflow: ellipsis;
}
.card--states{
  display: flex;
  align-items: center;
}
.card--badge{
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 600;
}